---
import { dataSkills } from '@/utils/es/dataHabilidades.astro';
import { dataSkillsEN } from '@/utils/en/dataHabilidadesEn.astro';
import { dataSkillsFR } from '@/utils/fr/dataHabilidadesFR.astro';

const { currentLocale } = Astro;

let dataChange;

if (currentLocale === 'es') {
  dataChange = dataSkills;
} else if (currentLocale === 'fr') {
  dataChange = dataSkillsFR;
} else {
  dataChange = dataSkillsEN;
}
---
{
  dataChange.map(({ time, area, title, images }) => (
    <article class="flex flex-col max-w-xl">
      <div class="flex justify-center items-center gap-x-4 text-xs">
        <time>{time}</time>
        <span class="relative z-10 rounded-full bg-primary px-3 py-1.5 font-medium text-base-100">
          {area}
        </span>
      </div>
      <div class="group relative flex flex-col items-center justify-center">
        <h3 class="mt-3 text-lg font-semibold leading-6">
          <span class="text-lg text-base-content">{title}</span>
        </h3>
        {images.map((image) => {
  const techNames = image.split("?i=")[1].split(",");

  return (
    <div class="flex flex-wrap gap-4 justify-center mt-5">
      {techNames.map((tech) => (
        <div class="flex flex-col items-center">
          <img
            class="leading-6"
            src={`https://go-skill-icons.vercel.app/api/icons?i=${tech}`}
            alt={`Icon for ${tech}`}
            loading="lazy"
          />
          <span class="text-xs mt-1 text-base-content">{tech}</span>
        </div>
      ))}
    </div>
  );
})}
      </div>
    </article>
  ))
}
