---
import { getI18N } from '@/i18n';
import Bubble from '@/components/Bubble.astro';
import { Toast } from '@/components/islands/Toast';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content text-center z-40">
    <Bubble />
    <div class="max-w-lg">
      <!-- <Toast currentLocale={currentLocale} client:load /> -->
      <h1 class="text-6xl xl:text-8xl lg:text-8x1 md:text-8xl font-bold">
        {i18n.HEADER.HEADER_TITLE}
      </h1>
      <span
        class="text-7xl xl:text-8xl lg:text-8x1 md:text-8xl leading-snug font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary via-secondary to-accent"
      >
        {i18n.HEADER.HEADER_NAME}
      </span>
      <p class="py-6 font-medium">{i18n.HEADER.HEADER_ABOUT}</p>
      <a
        href="#about"
        class="btn btn-primary border-none bg-gradient-to-r from-primary to-accent"
      >
        <svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="currentColor"
          style="--sl-icon-size: 0.5em;"
          class="animate-bounce"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 9l-7 6l-7-6"></path>
        </svg>
        {i18n.HEADER.HEADER_BUTTON}</a>
    </div>
  </div>
  <svg
    id="svg"
    class="absolute top-30 bottom-0 opacity-0.4 fill-current"
    viewBox="0 0 1440 490"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
        <stop offset="5%" stop-color="currentColor"></stop>
        <stop offset="50%" stop-color="currentColor"></stop>
        <stop offset="95%" stop-color="currentColor"></stop>
      </linearGradient>
    </defs>

    <path
      d="M 0,600 L 0,150 C 139.53571428571428,190.60714285714286 279.07142857142856,231.21428571428572 408,220 C 536.9285714285714,208.78571428571428 655.2500000000001,145.75 772,125 C 888.7499999999999,104.25000000000001 1003.9285714285713,125.7857142857143 1115,137 C 1226.0714285714287,148.2142857142857 1333.0357142857142,149.10714285714283 1440,150 L 1440,600 L 0,600 Z"
      fill="url(#gradient)"
      fill-opacity="0.3"
      class="transition-all duration-300 ease-in-out delay-150 path-0"></path>

    <defs>
      <linearGradient id="gradient2" x1="0%" y1="50%" x2="100%" y2="50%">
        <stop offset="5%" stop-color="currentColor"></stop>
        <stop offset="50%" stop-color="currentColor"></stop>
        <stop offset="95%" stop-color="currentColor"></stop>
      </linearGradient>
    </defs>

    <path
      d="M 0,600 L 0,350 C 104.96428571428572,363.8571428571429 209.92857142857144,377.7142857142857 331,395 C 452.07142857142856,412.2857142857143 589.2500000000001,433 717,417 C 844.7499999999999,401 963.0714285714284,348.28571428571433 1082,331 C 1200.9285714285716,313.71428571428567 1320.4642857142858,331.85714285714283 1440,350 L 1440,600 L 0,600 Z"
      fill="url(#gradient2)"
      fill-opacity="0.7"
      class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
  </svg>
</div>

<style>
  .path-0 {
    animation: pathAnim-0 10s ease-in-out;
    animation-timing-function: steps(500, end);
    animation-iteration-count: infinite;
  }

  @keyframes pathAnim-0 {
    0% {
      d: path(
        'M 0,600 L 0,150 C 139.53571428571428,190.60714285714286 279.07142857142856,231.21428571428572 408,220 C 536.9285714285714,208.78571428571428 655.2500000000001,145.75 772,125 C 888.7499999999999,104.25000000000001 1003.9285714285713,125.7857142857143 1115,137 C 1226.0714285714287,148.2142857142857 1333.0357142857142,149.10714285714283 1440,150 L 1440,600 L 0,600 Z'
      );
    }

    25% {
      d: path(
        'M 0,600 L 0,150 C 77.5,158.96428571428572 155,167.92857142857142 292,158 C 429,148.07142857142858 625.5,119.25 774,106 C 922.5,92.75 1023,95.07142857142857 1126,105 C 1229,114.92857142857143 1334.5,132.46428571428572 1440,150 L 1440,600 L 0,600 Z'
      );
    }

    50% {
      d: path(
        'M 0,600 L 0,150 C 139.07142857142856,177.07142857142856 278.1428571428571,204.14285714285714 403,201 C 527.8571428571429,197.85714285714286 638.4999999999999,164.49999999999997 759,159 C 879.5000000000001,153.50000000000003 1009.8571428571429,175.85714285714286 1125,179 C 1240.142857142857,182.14285714285714 1340.0714285714284,166.07142857142856 1440,150 L 1440,600 L 0,600 Z'
      );
    }

    75% {
      d: path(
        'M 0,600 L 0,150 C 114.82142857142858,181.71428571428572 229.64285714285717,213.42857142857142 361,210 C 492.35714285714283,206.57142857142858 640.2499999999999,168 773,143 C 905.7500000000001,118.00000000000001 1023.3571428571429,106.57142857142858 1132,110 C 1240.642857142857,113.42857142857142 1340.3214285714284,131.71428571428572 1440,150 L 1440,600 L 0,600 Z'
      );
    }

    100% {
      d: path(
        'M 0,600 L 0,150 C 139.53571428571428,190.60714285714286 279.07142857142856,231.21428571428572 408,220 C 536.9285714285714,208.78571428571428 655.2500000000001,145.75 772,125 C 888.7499999999999,104.25000000000001 1003.9285714285713,125.7857142857143 1115,137 C 1226.0714285714287,148.2142857142857 1333.0357142857142,149.10714285714283 1440,150 L 1440,600 L 0,600 Z'
      );
    }
  }

  .path-1 {
    animation: pathAnim-1 7s ease-in-out;
    animation-timing-function: steps(1000, end);
    animation-iteration-count: infinite;
  }

  @keyframes pathAnim-1 {
    0% {
      d: path(
        'M 0,600 L 0,350 C 104.96428571428572,363.8571428571429 209.92857142857144,377.7142857142857 331,395 C 452.07142857142856,412.2857142857143 589.2500000000001,433 717,417 C 844.7499999999999,401 963.0714285714284,348.28571428571433 1082,331 C 1200.9285714285716,313.71428571428567 1320.4642857142858,331.85714285714283 1440,350 L 1440,600 L 0,600 Z'
      );
    }

    25% {
      d: path(
        'M 0,600 L 0,350 C 120.46428571428572,324.7857142857143 240.92857142857144,299.57142857142856 376,315 C 511.07142857142856,330.42857142857144 660.7500000000001,386.50000000000006 772,380 C 883.2499999999999,373.49999999999994 956.0714285714284,304.42857142857144 1061,289 C 1165.9285714285716,273.57142857142856 1302.9642857142858,311.7857142857143 1440,350 L 1440,600 L 0,600 Z'
      );
    }

    50% {
      d: path(
        'M 0,600 L 0,350 C 122.82142857142858,327.7857142857143 245.64285714285717,305.57142857142856 371,307 C 496.35714285714283,308.42857142857144 624.2499999999999,333.50000000000006 745,337 C 865.7500000000001,340.49999999999994 979.3571428571429,322.4285714285714 1094,321 C 1208.642857142857,319.5714285714286 1324.3214285714284,334.78571428571433 1440,350 L 1440,600 L 0,600 Z'
      );
    }

    75% {
      d: path(
        'M 0,600 L 0,350 C 136.89285714285714,343.7142857142857 273.7857142857143,337.42857142857144 378,331 C 482.2142857142857,324.57142857142856 553.75,318 680,324 C 806.25,330 987.2142857142858,348.5714285714286 1123,355 C 1258.7857142857142,361.4285714285714 1349.392857142857,355.71428571428567 1440,350 L 1440,600 L 0,600 Z'
      );
    }

    100% {
      d: path(
        'M 0,600 L 0,350 C 104.96428571428572,363.8571428571429 209.92857142857144,377.7142857142857 331,395 C 452.07142857142856,412.2857142857143 589.2500000000001,433 717,417 C 844.7499999999999,401 963.0714285714284,348.28571428571433 1082,331 C 1200.9285714285716,313.71428571428567 1320.4642857142858,331.85714285714283 1440,350 L 1440,600 L 0,600 Z'
      );
    }
  }
</style>
