---
import { dataContacto } from '@/utils/es/dataContacto.astro';
import { dataContactoEN } from '@/utils/en/dataContactoEN.astro';
import { dataContactoFR } from '@/utils/fr/dataContactoFR.astro';

const { currentLocale } = Astro;

let dataChange;

if (currentLocale === 'es') {
  dataChange = dataContacto;
} else if (currentLocale === 'fr') {
  dataChange = dataContactoFR;
} else {
  dataChange = dataContactoEN;
}
---

{
  dataChange.map(({ area, img, title, url, text }) => (
    <div class="backdrop-blur-[100px] backdrop-saturate-[180%]  border border-neutral-700 rounded-lg shadow-md p-8 flex flex-col justify-between">
      <div class="flex items-center mb-2">
        <div class="avatar w-9 h-9 mr-2">
          <img src={img} alt={title} class="rounded-full" loading="lazy" />
        </div>
        <h2 class="font-semibold text-xl">{area}</h2>
      </div>
      <p class="text-base-content">{text}</p>
      <div class="mt-4">
        <a
          class="mt-4 btn btn-primary backdrop-blur-[19px] backdrop-saturate-[180%] flex justify-center items-center"
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={title}
        >
          {title}
        </a>
      </div>
    </div>
  ))
}
