---
// Extraer valores de la URL
const { currentLocale, url } = Astro;
const [, lang, slug = ''] = url.pathname.split('/'); // Asignar un valor por defecto a slug
const title = slug ? slug.charAt(0).toUpperCase() + slug.slice(1) : '';

// Constantes para URLs y títulos
const baseUrl = 'https://portafolio-vercel-deploy.vercel.app/';
const siteTitle = 'Web developer JR - IT Engineer';
const siteDescription = 'Portafolio de Erick Gonzalez';
const imageUrl = `${baseUrl}kdl.webp`;
---

<!doctype html>
<html lang={currentLocale} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={siteDescription} />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={baseUrl} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:site_name" content="Portafolio" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={baseUrl} />
    <meta property="twitter:title" content={siteTitle} />
    <meta property="twitter:description" content={siteDescription} />
    <meta property="twitter:image" content={imageUrl} />
    
    <!-- Metadatos adicionales -->
    <meta name="theme-color" content="#6f37cf" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="muke78" />
    <meta name="copyright" content="Copyright © 2024" />
    <link rel="icon" type="image/svg+xml" href="/kdl.webp" />
    <link rel="canonical" href={baseUrl} />
    
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="bg-base-300">
    <div id="swup" class="transition-fade">
      <slot />
    </div>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
    <script src="../js/swup-init.js"></script>
  </body>
</html>

<style is:global>
  .sticky-navbar {
    position: sticky;
    top: 0;
    height: 3px;
  }

  .shadow__cardPulse {
    backdrop-filter: blur(200px) saturate(180%);
    filter: drop-shadow(0 0 1rem);
    transition: box-shadow 10s ease-in-out;
  }

  .shadow__skew {
    animation: uppcolor 4s ease-in-out;
  }

  /* Transición de fade */
  .transition-fade {
    transition: opacity 0.7s ease-in-out;
    opacity: 1;
  }

  html.is-animating .transition-fade {
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
  }

  @keyframes uppcolor {
    0% {
      filter: blur(15rem);
    }
    50% {
      filter: blur(-20rem);
    }
    100% {
      filter: blur(4rem);
    }
  }
</style>